@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: rgba(255, 255, 255, 1);
  --white-smoke-color: rgba(247, 247, 247, 1);
  --dark-blue-color: rgba(46, 37, 89, 1);
  --blue-color: rgba(31, 8, 138, 1);
  --violet-color: rgba(196, 16, 225, 1);
  --vivid-violet-color: rgba(130, 58, 141, 1);
  --lavender-blue-color: rgba(211, 202, 255, 1);
  --mauve-color: rgba(246, 189, 255, 1);
  --mauve-smoke-color: rgba(234, 199, 255, 1);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
